.wrapper {
  position: relative;
  height: 100%;
}

.format-btn {
  position: absolute;
  top: -40px;
  left: 95%;
  z-index: 20;
  opacity: 0;
  transition: opacity 0.3s;
}

.format-btn {
  opacity: 1;
}
