.editor-wrapper {
  position: relative;
  height: 100%;
  width: calc(100% - 10px);
  z-index: 9;
}

.format-btn {
  position: absolute;
  top: -40px;
  left: 15px;
  z-index: 20;
  opacity: 0;
  transition: opacity 0.3s;
}

.format-btn {
  opacity: 1;
}
